@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Nabla&family=Roboto+Condensed&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Electrolize', sans-serif;
}

body {
    background-image: url(/public/img/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}

/* HEADER */
.header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.913);
    z-index: 1000;
}

.navbar {
    width: 100%;
}

.container-fluid {
    gap: 2rem;
}

.navbar-brand {
    margin-left: 20px;
}

.nav-link, .nav-opcion {
    color: white !important;
    text-decoration: none;
}

.nav-link:hover, .nav-opcion:hover {
    color: rgb(255, 234, 0) !important;
}

.nav-link.pag-activa, .nav-opcion.pag-activa {
    color: rgb(255, 191, 0) !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.678);
}

.dropdown-item {
    color: white !important;
}

.nav-item {
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    color: rgb(255, 234, 0);
}


/* INICIO */

.titulo{
    font-family: 'Nabla', sans-serif  ;
    font-size: 35px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    font-family: 'Nabla', sans-serif;
    text-shadow: 
        -1px -1px 0 #000000,  
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.texto-bienvenida {
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    font-weight: 500px;
    color: rgb(255, 255, 255);
    text-shadow: 
        -1px -1px 0 #000000,  
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CAARRITO */
.carrito-div {
    margin-right: 20px;
    padding-left: 5px;
    color: white;
}

.carrito-img {
    width: 30px;
    height: 30px;
}

.lupa {
    color: white;
    width: 20px;
    height: 20px;
}

.item-list-contenedor {
    max-width: 1000px;
    margin: 0 auto;
    max-height: 450px;
}

.items-grilla {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    height: 100%;
}

.item:hover {
    background-color: rgba(0, 0, 0, 0.682);
}

.img {
    width: auto;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.img:hover {
    width: auto;
    height: 270px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.info-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-productos h2 {
    color: rgb(255, 191, 0);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.322);
}

.precio {
    color: rgb(100, 232, 85);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.336);
}

.data {
    color: rgb(254, 122, 122);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.333);
}

/* NotFound */
.notfound {
    color: rgb(255, 191, 0);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.nav-link.pag-activa, .nav-opcion.pag-activa {
    color: rgb(255, 191, 0) !important;
}

.nav-link:hover, .nav-opcion:hover {
    color: rgb(255, 234, 0);
}

.nav-link {
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}



.item-vm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    height: 100%;
}

.img-vm {
    width: auto;
    height: 350px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.img-vm:hover {
    width: auto;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
}


.h1vm{
    font-family: 'Nabla', sans-serif  ;
    font-size: 40px;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2vm{
    font-family: 'Electrolize', sans-serif  ;
    font-size: 40px;
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-ver-mas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
}

.boton-agregar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}


.item-count {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.num-item-count {
    margin-top: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.btn-item-count {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #f0f0f0; 
    border: 1px solid #000000; 
    cursor: pointer;
}
